// main:template.scss

.com_users{
  .page-title{
    padding: 0;
    h1{
      font-weight: 600;
    }
  }
  p{
    margin: 0;
  }

  &.profile{
    .action-block{
      > a{
        text-decoration: none;
      }
    }
  }
}

.form-group{
  position: relative;
}
label{
  // position: absolute;
  font-size: 14px;
  margin-bottom: 0;
  line-height: 20px !important;
  // background-color: #fff;
  // left: 10px;
  // top: -9px;
  // padding-left: 5px;
  // padding-right: 5px;
}
