// main:template.scss

.com_users{
  .page-title{
    padding: 0;
    h1{
      font-weight: 600;
    }
  }
  p{
    margin: 0;
  }

  &.profile{
    .action-block{
      > a{
        text-decoration: none;
      }
    }
  }
}
